@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Definição da página inteira */
* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}
/*Fim*/
/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  background-color: #F3DCDC;
  padding: 0px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
/*fim*/
/* Definição */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ebcaca;
}
/* Fim */
/* INDEX.HTML */
/* LOGO */
.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: visible;
}
.logo img {
  width: 100%;
  max-width: 120px;
  height: auto;
}
.logo:hover {
    transform: scale(1.1); 
}
/* MENU */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.menu>li {
  position: relative;
}
.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  font-size: 16px;
}
.menu a:hover {
  color: #c11a1a;
}
/* MENU - DROPDOWN */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #F3DCDC;
  list-style: none;
  padding: 20px 0px;
  margin: 0;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  min-width: 100px;
  z-index: 10;
}
.dropdown-menu li {
  padding: 0;
}
.dropdown-menu a {
  padding: 10px 20px;
  display: block;
  white-space: nowrap;
  font-weight: normal;
  border-radius: 10px;
}
.dropdown-menu a:hover {
  background-color: #c11a1a;
  color: white;
  border-radius: 10px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
/*fim*/
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* RODAPÉ */
footer {
  margin-top: auto;
  background-color: #c11a1a;
  color: #fff;
  padding: 5px 0px;
  text-align: center;
}
footer .social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}
footer .social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: color 0.3s ease;
  margin-top: 5px;
}
footer .social-links a:hover {
  color: #ebcaca;
}
footer p {
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 5px;
}
/*fim*/
/* HERO SECTION */
.hero {
  background-image: url('img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  color: white;
  text-align: center;
  padding: 80px 20px;
  min-height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.hero-content h1 {
  font-size: 65px;
}
.hero-content p {
  font-size: 16px;
}
/*fim*/
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn {
  background-color: #c11a1a;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #ebcaca;
  color: black;
}
/* ABOUT THE PROJECT SECTION */
#about-project {
  background-color: #ebcaca;
  padding: 80px 20px;
  position: relative;
  min-height: 600px;
  text-align: center;
}
#about-project h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #c11a1a;
}
#about-project h3 {
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #c11a1a;
}
#about-project p {
  font-size: 1.2rem;
  color: black;
  line-height: 1.6;
  margin-bottom: 20px;
}
/* FIM INDEX.HTML */
/* PÁGINA CONTACTO */
body.contactpage::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/fundo.jpg);
  background-position: center;
  background-attachment: fixed; 
  opacity: 50%;
  z-index: -2;
}
.contact-h1 {
  font-size: 30px;
  color: #c11a1a;
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 150px auto 0;
  background-color: #fff;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 160px;
  margin-top: -5px;
}
form label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
input[type="text"] {
  font-size: 15px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  flex-direction: column;
  display: flex;
  border-radius: 4px;
  border: 1px solid #ccc;
  gap: 15px;
}
button {
  background-color: #c11a1a;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #c11a1a;
}
/* POP-UP */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}
.close-btn {
  font-size: 20px;
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close-btn:hover {
  color: black;
}
/* FIM PÁGINA CONTACTO */
/* PÁGINAS PECADOS */
/* SLIDER */
.container {
  position: relative;
}
.container .wrapper {
  width: 40%;
  height: 500px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  margin: 12% auto 4%; 
  overflow: hidden;
  border-radius: 50px;
  margin-top: 200px;
}
.container .wrapper-holder {
  display: flex;
  height: 100%;
  width: 100%;
  animation: slider 20s ease-in-out infinite alternate;
}
.container .slider-img {
  width: 100%; 
  height: 110%; 
  object-fit: cover;
}
@keyframes slider {
  0%, 90%, 100% {
    transform: translateX(0%);
  }
  10%, 20% {
    transform: translateX(-100%);
  }
  30%, 40% {
    transform: translateX(-200%);
  }
  50%, 60%, 70%, 80% {
    transform: translateX(-300%);
  }
}
/* Route Description Section */
.route-description {
  padding: 40px;
  background-color: #ebcaca;
  margin: 100px 0;
  border-radius: 8px;
}
.route-description h2 {
  font-size: 36px;
  color: #c11a1a;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 20px solid black;
  margin-top: 50px;
}
.route-description p {
  font-size: 18px;
  line-height: 1.6;
  color: black;
  text-align: center;
  margin-bottom: -200px;
}
/* Expense Table Section */
.expense-table {
  padding: 30px;
  background-color: #ebcaca;
  margin: 20px 0;
  


}
.expense-table h3 {
  font-size: 30px;
  color: #c11a1a;
  margin-bottom: 15px;
  text-align: center;
 
}
.expense-table p {
  font-size: 18px;
  line-height: 1.6;
  color: black;
  margin-bottom: 40px;
  text-align: center;
}
table {
  width: 50%;
  border-collapse: collapse;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  
}
table th, table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
table th {
  background-color: #c11a1a;
  font-weight: bold;
  color: white;
}
table td {
  color: #c11a1a;
  background-color: white;
  text-align: c;
}
table td:hover {
  background-color: #c11a1a;
  color: white;
}
/* Download Button */
.download-section {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}
.download-btn {
  display: inline-block;
  background-color: #c11a1a;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  margin: 5px;
}
.download-btn:hover {
  background-color: #ebcaca;
  color: black;
}
/* FIM PÁGINAS PECADOS */
/* ABOUT US*/
.team-container {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.figcaption-h2 {
  margin-top: 90px;
}
.team-member {
  text-align: center;
  flex: 1;
}
.team-member img {
  width: 30px;
  height: auto;
  border-radius: 8px;
  scale: 500%;
  margin-top: 50px;
}
.aboutush1 {
  text-align: center;
  color: #c11a1a;
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 20px;
}
.aboutusp {
  text-align: center;
  color: black;
  font-size: 20px;
}
.team-member-description {
  text-align: center;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #ebcaca;
  padding: 10px;
  margin-bottom: 15px;
}
/* REDES SOCIAIS */
.social-media {
  text-align: center;
  margin: 20px 0;
}
.social-media h2 {
  color: #c11a1a;
  margin-bottom: 15px;
  font-size: 30px;
}
.social-links-about {
  display: flex;
  justify-content: center;
  gap: 20px; 
}
.social-links-about a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333; 
  transition: color 0.3s ease, transform 0.3s ease;
}
.social-links-about a:hover {
  color: #c11a1a; 
  transform: scale(1.1); 
}
/* ICONES */
.social-links i {
  margin-right: 8px; 
  font-size: 24px;
}
/* Vídeo do YouTube */
.youtube-video {
  text-align: center;
  margin: 20px 0;
}
.youtube-video .video-iframe {
  width: 100%;       
  max-width: 560px;   
  height: 315px;     
  border-radius: 10px; 
  border: none;      
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.youtube-video h2 {
  color: #c11a1a;
  margin-bottom: 15px;
  font-size: 30px;
}
/* FIM DO ABOUT US*/


/* RESPONIVIDADE */
@media (max-width: 768px) {
  /* MENU */
  .logo {
    margin-left: -15px;
    scale: 80%;
  }
  .menu {
      display: flex;
      gap: 10px; /* Reduz o espaço entre os itens */
      padding: 10px;
      justify-content: space-between; 
      flex-wrap: nowrap;
      height: 70px;
    }
  .menu > li {
       margin-top: 10px;
      display: inline-block;
    }
  .menu a {
      font-size: 12px; 
      padding: 8px 10px;
    }
  .dropdown-menu {
      width: 100%;
      display: none;
    }
  .dropdown-menu a {
      padding: 10px 15px;
      font-weight: normal;
      border-radius: 5px;
    }
  .dropdown > a:focus + .dropdown-menu, .dropdown-menu:focus {
      display: block;
    }
  .the-project{
     display: none;
   }
  /* PECADOS */
  .route-description {
    padding: 20px;
    margin: 50px 0;
  }
  .route-description h2 {
    font-size: 28px;
  }
  .route-description p {
    font-size: 16px;
    text-align: center;
    margin-bottom: -150px; 
  }
  .expense-table {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
  }
  .expense-table h3 {
    font-size: 24px;
  }
  .expense-table p {
    font-size: 16px;
    margin-bottom: 30px;
  }
  table {
    width: 100%; 
    margin-left: 0; 
  }
  table th, table td {
    font-size: 14px; 
    padding: 10px;
  }
  .download-section {
    margin-top: 20px;
  }
  .download-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
   /* ABOUT US */
  .team-container {
    flex-direction: column;
    align-items: center;
  }
  .team-member {
    max-width: 90%;
    margin: 15px 0;
  }
  .aboutush1 {
    font-size: 28px;
  }
  .aboutusp {
    font-size: 16px;
    padding: 0 20px;
  }
  .team-member-description {
    font-size: 14px;
  }
  .aboutush1 {
    font-size: 24px;
    }
  .aboutusp {
    font-size: 14px;
    }
  .figcaption-h2 h2 {
    font-size: 20px;
    }
  .team-member img {
    width: 10%;
    }
  .container {
          margin-top: 170px; 
      }
  .social-links-about {
      flex-direction: column;
      gap: 15px; 
      align-items: center;
    
    }
  .social-links-about a {
      font-size: 16px; 
    }
  .youtube-video .video-iframe {
      width: 90%; 
      height: auto; 
    }
  /* CONTACT */
  .contact-h1 {
    margin-top: 140px;
    margin-bottom: 80px;
    font-size: 20px;
  }
  form {
    padding: 10px;
    width: 320px;
    margin-top: -25px;
    margin-bottom: 150px;
  }
  form button {
    font-size: 15px;
  }
  .popup-content {
    width: 80%;
    padding: 15px;
  }

  
  }
  
  
 

