*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body{
    background-color: #F3DCDC;
    min-height: 100vh;
}
/* Página Inicial */
nav{
    background-color: #F3DCDC;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 0 40px;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 70px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color:#ebcaca;
}
nav li:first-child{
    margin-right: auto;
}
.logo{
    height: 50px;
    width: auto;
    display: block;
    margin-top: 10px;
}
.hero{
    background-image: url(fotos/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
    display: grid;
    place-items: center;
    min-height: 450px;
    text-align: center;
    padding-top: 125px;
}
.h1{
    font-size: 45px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    color: white;
}
/* Botões */
.btn-container{
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
margin-top: -250px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c11a1a; 
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: auto;
    max-width: 200px;
    margin: 10px auto;
    font-size: 16px;
    transition: background-color 0.3s ease; 
}
.btn:hover {
    background-color: #c11a1a;
}
.btn-primary {
    background-color: #c11a1a;
    color: white;
    border: none;
    transition: all 0.3s ease;
  }
  .btn-primary:hover {
    background-color: #c93d3d;
  }
  .btn-outline {
    background-color: transparent;
    color: #ffff;
    border: 2px solid #ffff;
    transition: all 0.3s ease;
  }
  .btn-outline:hover {
    background-color: #c93d3d;
    color: white;
  }
/* Aviso */
  .aviso-reserva {
    background-color: #e63946;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* Pecados Populares */
.popular { 
    padding-block: 40px 20px;
    text-align: center;
    margin-top: 60px;
}
.section-subtitle{
    color: #c11a1a;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.section-title{
     margin-bottom: 15px;
}
.section-text{
    color: black;
    margin-bottom: 30px;
}
.popular-list {
    display: flex; 
    gap: 20px;
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 0;
    list-style: none;
    margin: 0;
}
.popular-list > li {
    flex: 1 1 calc(33.333% - 20px); 
    max-width: 300px; 
}
.popular-card{
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    height: 430px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popular-card .card-img {
    height: 100%; 
}
.popular-card .card-img img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular-card .card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: white ;
    border-radius: 25px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.popular-card .card-rating {
    background: #c11a1a;
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    display: flex;
    align-items: center;
    gap: 1px;
    transform: translateY(-50%);
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 14px;
}
.popular-card .card-subtitle {
    color: #c11a1a;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: left;
}
.popular-card .card-title { 
    margin-bottom: 5px;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.popular-card :is(.card-subtitle, .card-title) > a { 
    color: inherit;
}
.popular .btn { 
    text-align: center;
    display: block;
    margin: 20px auto;
    margin-top: 60px;
}
.section-subtitle, .section-title,.section-text {
    text-align: center !important;
    margin: 0 auto;
    display: block;
    max-width: 800px;
    line-height: 1.5;
}
.popular .section-subtitle {
    color: #c11a1a;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.popular .section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.popular .section-text {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto 40px auto;
    line-height: 1.6;
}
/* Rodapé */
.footer {
    background-color: #8b0000;
    color: #ffffff; 
    padding: 30px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}
.footer-left, .footer-center, .footer-right {
    flex: 1;
    margin: 15px; 
    min-width: 250px; 
}
.footer-left {
    max-width: 300px;
    text-align: center;
}
.footer-left h1 {
    font-size: 22px; 
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-left p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
    text-align: center;
}
/* Contacto */
.footer-center {
    max-width: 300px;
}
.footer-center h2 {
    font-size: 16px; 
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 5px;
}
.footer-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-center ul li {
    font-size: 14px;
    margin: 5px 0;
}
/* Newsletter */
.footer-right {
    max-width: 300px;
}
.footer-right h2 {
    font-size: 16px; 
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-right form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-right form input[type="email"] {
    width: 100%;
    max-width: 250px;
    padding: 8px; 
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}
.footer-right form button {
    padding: 8px 20px; 
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.footer-right form button:hover {
    background-color: #ffffff;
    color: #8b0000;
}
/* Rodapé inferior */
.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 20px; 
    margin-bottom: -25px;
    padding-top: 5px; 
    border-top: 1px solid #ffffff;
    font-size: 12px;
}
.footer-bottom a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}
.footer-bottom a:hover {
    color: #ffcccc;
}
/* PÁGINA DESTINOS */
.page-header {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    color: #c11a1a;
}
.page-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.page-header p {
    font-size: 1.2rem;
    color: #666;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
/* PECADOS */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3 colunas que se adaptam */
    gap: 20px;
    margin: 20px auto;
    padding: 10px;
    max-width: 1200px;
}
.pecado-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
.pecado-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.pecado-card:hover img {
    transform: scale(1.05); 
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; 
    background: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}
.overlay h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.overlay p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    opacity: 0; 
    transform: translateY(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.pecado-card:hover .overlay {
    background: rgba(0, 0, 0, 0.8);
    opacity: 1; 
}
.pecado-card:hover .overlay h2,.pecado-card:hover .overlay p {
    opacity: 1; 
    transform: translateY(0); 
}
/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.modal-content {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.modal-content h2 {
    margin-top: 0;
    color: #c11a1a;
    text-transform: uppercase ;
}
.modal-content p {
    font-size: 1rem;
    margin: 10px 0 20px;
    color: #333;
}
.country-list {
    list-style: none;
    padding: 0;
    text-align: left;
}
.country-list li {
    margin: 10px 0;
    font-size: 0.9rem;
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.country-list button {
    background-color: #8b0000;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}
.country-list button:hover {
    background-color: #8b0000;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #c11a1a;
    cursor: pointer;
}
/* COMBOS */
.combos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.combo-card {
    border: 2px solid #d33;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.combo-card h3 {
    color: #d33;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.combo-card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
}
.combo-card button {
    background-color: #d33;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.combo-card button:hover {
    background-color: #b00;
}
.combos-section {
    padding: 20px 40px;
    text-align: center;
    margin: 20px auto;
}
.combos-section h2 {
    font-size: 50px;
    font-weight: bold;
    color: #8b0000;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 20px;
}
.combos-section p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    margin-bottom: 20px;
}
/* MODAL */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-content h3 {
    font-size: 1.8rem;
    color: #b33c73;
    margin-bottom: 10px;
}
.modal-content p {
    font-size: 1.2rem;
    color: #333;
}
.close {
    color: #aaa;
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: #000;
}
/* PÁGINA SOBRE NÓS */
/* EQUIPA */
.sobre-equipa {
    color: #000000;
    padding: 50px 20px;
    text-align: center;
}
.sobre-equipa h2 {
    font-size: 2.5rem;
    color: #c11a1a;
    margin-bottom: 20px;
}
.sobre-equipa p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto 40px;
    color: #000000;
}
.equipa-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.membro-equipa {
    border: 1px solid #c11a1a;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.membro-equipa:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.membro-equipa img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}
.membro-equipa h3 {
    font-size: 1.5rem;
    color: #c11a1a;
    margin-bottom: 10px;
}
.membro-equipa p {
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;
}
/* MISSÃO,VISÃO E VALORES */
.missao-visao {
    padding: 50px 20px;
    text-align: center;
}
.missao-visao .titulo-principal {
    font-size: 3rem;
    color: #c11a1a;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.missao-visao .conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.missao-visao .card {
    flex: 1 1 calc(30% - 20px);
    max-width: 400px;
    border: 2px solid #c11a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.missao-visao .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.missao-visao h3 {
    font-size: 1.8rem;
    color: #c11a1a;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.missao-visao p, .missao-visao li {
    font-size: 1rem;
    color: #000000;
    line-height: 1.6;
}
.missao-visao ul {
    text-align: left;
    padding-left: 20px;
    list-style: none;
}
.missao-visao li::before {
    content: "•";
    color: #8b0000;
    font-size: 1.5rem;
    margin-right: 10px;
}
/* PÁGINA CONTACTO */
.contact-header {
    background-color: #c11a1a;
    color: white;
    text-align: center;
    padding: 50px 20px;
}
.contact-header h1 {
    font-size: 2.5rem;
    margin: 0;
}
.contact-header p {
    font-size: 1.2rem;
    margin-top: 10px;
}
.contact-form-section {
    padding: 50px 20px;
    text-align: center;
}
.contact-form-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:#c11a1a;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
textarea {
    resize: vertical;
}
button.btn {
    background-color: #c11a1a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}
button.btn:hover {
    background-color: #8b0000;
}
.contact-info-section {
    background-color: #c11a1a;
    padding: 50px 20px;
    text-align: center;
}
.contact-info-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}
.contact-info {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
.contact-info li {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px;
}
.social-icons a {
    color: #ffffff; 
    font-size: 24px; 
    text-decoration: none;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #facaca;
}
.map-section {
    padding: 50px 20px;
    text-align: center;
}
.map-section h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #c11a1a;
    text-transform: uppercase;
}
.map-section p {
    margin-bottom: 30PX;
}
iframe {
    border-radius: 10px;
}
/* PÁGINA GALERIA */
.gallery-header {
    text-align: center;
    padding: 50px 20px;
    background: #c11a1a;
    color: white;
}
.gallery-header h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 10px;
}
.gallery-header p {
    font-size: 1.2rem;
    color: white;
}
.gallery-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.gallery-item {
    flex-basis: calc(25% - 10px); 
    aspect-ratio: 4 / 3; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px; 
    transition: transform 0.3s ease; 
}
.gallery-item:hover img {
    transform: scale(1.05); 
}
/* ADIÇÃO PÁGINA HOME */
.packages {
    text-align: center;
    padding: 50px 20px;
  }
  .packages-header h3 {
    color: #d73035; 
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  .packages-header h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  .packages-header p {
    color: #777;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
  } 
.package-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .package-item {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-height: 150px;
  }
  .package-item img {
    width: 30%; 
    height: 100%;
    object-fit: cover; 
    aspect-ratio: 16/9;
  }
  .package-info {
    padding: 10px 15px;
    flex: 2;
    text-align: left;
  }
  .package-info h2 {
    font-size: 16px; 
    margin-bottom: 5px;
    color: #333;
  }
  .package-info p {
    font-size: 14px; 
    color: #555;
    margin-bottom: 10px;
  }
  .package-meta {
    display: flex;
    gap: 10px;
    font-size: 12px; 
    color: #999;
  }
  .package-price {
    padding: 10px;
    text-align: center;
    background: #d73035; 
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .package-price h3 {
    font-size: 20px; 
    margin: 5px 0;
  }
  .package-price p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .package-price button {
    background: white;
    color: #d73035;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
  }
  .package-price button:hover {
    background: #b2222d; 
    color: white;
  }
  .view-all button {
    background: #d73035;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px; 
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
  }
  .view-all button:hover {
    background: #b2222d;
  }
  .btn-pecar{
    background-color: #d73035;
    color: white;
    padding: 10px 20px;
    text-decoration: none; 
    font-weight: bold;
    border-radius: 50px;
    display: inline-block; 
    transition: 0.3s;
    text-align: center;
    margin-top: 50px;
  }
  .btn-pecar:hover {
    background-color: #b2222d;
  }
/* PÁGINA PRECÁRIO */
.precos-hero {
    background-color: #8b0000;
    color: white;
    padding: 60px 20px;
    text-align: center;
  }
  .precos-title {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .precos-description {
    font-size: 20px;
  }
/* Pacotes  */
.pacotes-premium {
    background-color: #fde9e9; 
    padding: 50px 20px;
    text-align: center;
  }
  .pacotes-premium h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #8b0000; 
  }
  .premium-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    justify-items: center; 
    max-width: 1200px;
    margin: 0 auto; 
  }
  .premium-card {
    background-color: #fff;
    border: 1px solid #8b0000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeitos de hover */
    max-width: 300px;
  }
  .premium-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .premium-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #8b0000;
  }
  .premium-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
  }
  .premium-card p {
    font-size: 0.9rem;
    color: #555;
    padding: 0 10px 15px;
    line-height: 1.4;
  }
/* TABELA*/
.tabela-section {
    background-color: #fde9e9;
    padding: 50px 20px;
    text-align: center;
  } 
  .tabela-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #8b0000;
  } 
  .tabela-section p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
  }
  .tabela-pacotes {
    width: 100%;
    max-width: 900px; 
    margin: 0 auto; 
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
  }
   .tabela-pacotes th, .tabela-pacotes td {
    padding: 12px 15px;
    text-align: left;
  }
  .tabela-pacotes th {
    background-color: #8b0000;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
  } 
  .tabela-pacotes tr:nth-child(even) {
    background-color: #f9f9f9; 
  }
  .tabela-pacotes tr:hover {
    background-color: #fde9e9; 
  }
 /* CTA */
  .cta-section {
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    background-color: #fde9e9;
    border-top: 2px solid #8b0000;
  }
  .cta-section h3 {
    font-size: 1.5rem;
    color: #8b0000;
    margin-bottom: 15px;
    margin-top: 50PX;
  }
  .cta-section p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  .cta-section a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #8b0000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .cta-section a:hover {
    background-color: #a50000;
  }





















